@import 'shared/colors.scss';

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .AppLogo {
    animation: AppLogo-spin infinite 3s linear;
  }

  .AppLogoCounter {
    animation: AppLogo-counter-spin infinite 3s linear;
  }
}

.AppHeader {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  .bananas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;

    .AppLogo, .AppLogoCounter {
      height: 20vmin;
      pointer-events: none;
      margin: 1em;
    }
  }
}

.AppLink {
  color: $yellow;
  &:hover {
    opacity: 0.8;
  }
}

@keyframes AppLogo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes AppLogo-counter-spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

